*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: rgb(252,105,33);
    padding: 20px 0;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
    /* box-shadow: 0px 2px 30px 1px -> ombreggiatura bonus*/
}

footer {
    background-color: rgb(26,26,26);
    padding: 20px 0;
    width: 100%;
    height: 70px;
}

main {
    padding: 100px 0 30px;
}

ul {
    list-style: none;
    color: white;
    line-height: 2;
}

li {
    display: inline;
    margin-right: 5px;
    font-weight: 800;
    font-size: 12px;
}

#logo {
    max-width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 991px;
    height: 100%;
    margin: 0 auto;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gap-20px {
    gap:20px;
}

.justify-sb {
    justify-content: space-between;
}

/* COLONNE */
.col-33 {
    width: calc(100% / 3 - 20px);
    height: 100%;
}

.col-25 {
    width: calc(25%);
    height: 100%;
}

.col-90 {
    width: calc(90%);
    height: 100%;
}


.col-10 {
    width: calc(10%);
    height: 100%;
}

.product {
    width: 100%;
    position:relative;
}

.discount {
    position: absolute;
    left: 0;
    bottom: 70px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: red;
    color: white;
    font-weight: 500;
}

.sustainability {
    position: absolute;
    left: 50px;
    bottom: 70px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: green;
    color: white;
    font-weight: 500;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 10px;
}

.heart:hover {
    color:red
}

.left-0 {
    left:0;
}

.brand {
    font-size: 10px;
    display: block;
}

.description {
    display: block;
    font-size: 12px;
    font-weight: 600;
}

.price {
    font-size: 10px;
    display: block
}

img {
    max-width: 100%;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.product:hover .hidden {
    display: block;
}

.product:hover .show {
    display: none;
}

a {
    text-decoration: none;
    color:#fff;
    padding: 2px;
}

.info a {
    font-size: 10px;
}

.info i {
    color: white;
}

.text-align-right {
    text-align: right;
    line-height: 2;
}